<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 2</title>
</head>
<body>
    Álbum
    <a href="/admin">Página Inicial</a>
    <a href="/admin/album/adicionar">Adicionar</a>
    <a href="/admin/album/listar">Listar</a>
    <form method="post" enctype="multipart/form-data">
        Nome: <input type="text" name="nome"
        placeholder="Digite o nome do álbum" required><br>
        Número de faixas: <input type="number" name="numerofaixa"
        placeholder="Digite o número de faixas" required><br>
        Data de Lançamento: <input type="date" name="lancamento"
        placeholder="Digite a data de lançamento" required><br>
        Capa do Álbum: <input type="file" name="foto"
        accept="image/*" required><br>
        <input type="submit" value="Salvar">
    </form>    
</body>
</html>
